<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="left-box">
            <ul>
                <li><a href="#">회사소개</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">문의사항</a></li>
            </ul>
            <div class="info-group">
                <p>대표 : 아무개</p>
                <p>서울특별시 아무구 아무동 빌딩 110층 1111호</p>
                <p>사업자 등록번호:123-12-123123</p>
            </div>
            <div class="copy-txt">
                <p>COPYRIGHT ⓒ2023YEONSUA,NAGYUNGWON., LTD ALL RIGHTS RESERVED.</p>
            </div>
        </div>
        <div class="right-box">
            <p>고객센터</p>
            <p>1234-1234</p>
        </div>
    </div>

</body>

</html>