<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1><a href="index.html">ENote</a></h1>
        <nav>
            <ul>
                <li><a href="index.html">기록하기</a></li>
                <li><a href="storybook.html">스토리북</a></li>
                <li><a href="word.html">단어카드</a></li>
                <li><a href="calendar.html">기록달력</a></li>
            </ul>
            <div class="profile">
                <p><a href="#">SU</a></p>
                <ul class="profile-hide">
                    <li><a href="#">내계정</a></li>
                    <li><a href="#">탈퇴하기</a></li>
                    <li><a href="#">로그아웃</a></li>
                </ul>
            </div>
        </nav>
    </div>

</body>
<script src="../static/js/accordion.js"></script>

</html>