<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://kit.fontawesome.com/412379eca8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/reset.css">
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1><a href="/">ENote</a></h1>
        <nav>
            <ul>
                <li><a href="/">기록하기</a></li>
                <li><a href="/storybook">스토리북</a></li>
                <li><a href="/word">단어카드</a></li>
                <li><a href="/calendar">기록달력</a></li>
            </ul>
            <div class="profile">
                <!--
                <p id="logProfile"><a href="#">SU</a></p>
                <ul class="profile-hide"> 
                    <li><a href="/mypage">내계정</a></li>
                    <li><a href="/mypage/unregister">탈퇴하기</a></li>
                    <li id="logOutBtn"><a href="#">로그아웃</a></li>              
                </ul>
            -->
            </div>
        </nav>
         <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </div>

</body>
<!-- <script src="../static/js/accordion.js"></script> -->
<!-- <script src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script> -->
<script src="../static/js/hader.js"></script>
<script src="../static/js/index.js"></script>
<!-- <script src="../static/js/logOut.js"></script> -->
<!-- <script src="../static/js/header.js"></script> -->
</html>