<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
    <meta property="og:image"
        content="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbBEZZ5%2Fbtr8Jlvj3Sz%2FDc4KbVgiWqI2PcnEjpOf9K%2Fimg.png" />
    <meta property="og:site_name" content="ENote" />
    <meta property="og:description" content="영어단어장(ENote)" />
    <title>ENote</title>
</head>

<body>
    <header id="header">
    </header>

    <main>
        <div class="container">
            <div class="input-group">
                <div class="input-box">
                    <label for="en">English</label>
                    <input type="text" id="en" placeholder="단어를 입력해 주세요.(필수)">
                </div>
                <div class="input-box">
                    <label for="ko">Korean</label>
                    <input type="text" id="ko" placeholder="뜻을 입력해 주세요.(필수)">
                </div>
                <div class="input-box">
                    <label for="pr">발음</label>
                    <input type="text" id="pr" placeholder="발음을 입력해 주세요(선택)">
                </div>
            </div>
            <div class="btn-group">
                <button>네이버 사전</button>
                <button id="saveBtn">기록하기</button>
            </div>
        </div>
    </main>

    <footer id="footer">
    </footer>
</body>

<script src="../static/js/include.js"></script>
<script type="module" src="../static/js/header.js"></script>
<script type="module" src="../static/js/save.js"></script>
<script type="module" src="../static/js/enterEvent.js"></script>
</html>