<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>ENote</title>
</head>

<body>

    <header>
        <div class="container">
            <h1><a href="#">ENote</a></h1>
            <nav>
                <ul>
                    <li><a href="#">기록하기</a></li>
                    <li><a href="#">스토리북</a></li>
                    <li><a href="#">단어카드</a></li>
                    <li><a href="#">기록달력</a></li>
                </ul>
                <div class="profile">
                    <p>SU</p>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="input-group">
                <div class="input-box">
                    <label for="en">English</label>
                    <input type="text" id="en" placeholder="단어를 입력해 주세요.(필수)">
                </div>
                <div class="input-box">
                    <label for="ko">Korean</label>
                    <input type="text" id="ko" placeholder="뜻을 입력해 주세요.(필수)">
                </div>
                <div class="input-box">
                    <label for="pr">발음</label>
                    <input type="text" id="pr" placeholder="발음을 입력해 주세요(선택)">
                </div>
            </div>
            <div class="btn-group">
                <button>네이버 사전</button>
                <button>기록하기</button>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="left-box">
                <ul>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">문의사항</a></li>
                </ul>
                <div class="info-group">
                    <p>대표 : 아무개</p>
                    <p>서울특별시 아무구 아무동 빌딩 110층 1111호</p>
                    <p>사업자 등록번호:123-12-123123</p>
                </div>
                <div class="copy-txt">
                    <p>COPYRIGHT ⓒ2023YEONSUA,NAGYUNGWON., LTD ALL RIGHTS RESERVED.</p>
                </div>
            </div>
            <div class="right-box">
                <p>고객센터</p>
                <p>1234-1234</p>
            </div>
        </div>
    </footer>

</body>

</html>