@charset "UTF-8";

/*==========================
공통
============================*/
* {
    margin: 0;
    padding: 0
}

.custom_calendar_table td {
    text-align: center;
}

.custom_calendar_table thead.cal_date th {
    font-size: 1.5rem;
}

.custom_calendar_table thead.cal_date th button {
    font-size: 1.5rem;
    background: none;
    border: none;
}

.custom_calendar_table thead.cal_week th {
    color: #000;
}

.custom_calendar_table tbody td {
    cursor: pointer;
    padding-bottom: 30px;
    line-height: 50px;
}

.custom_calendar_table tbody td:nth-child(1) {
    color: red;
}

.custom_calendar_table tbody td:nth-child(7) {
    color: #288CFF;
}

/* .custom_calendar_table tbody td.select_day {
    text-align: center;
    background-color: #fcf31d;
    border-radius: 50%;
    outline-offset: 3.2px;
    outline: #0ca0fd solid 2px;
} */
.custom_calendar_table tbody td.select_day {
    text-align: center;
    background-color: #fcf31d;
    border-radius: 50%;
    outline-offset: 3.2px;
    outline: #0ca0fd solid 2px;
    display: flex;
    flex-direction: column;
    line-height: 250%;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
}
.custom_calendar_table tbody td span{
    opacity:0;
}
.custom_calendar_table tbody td > span{
    font-weight:bold;
    color:red;
    opacity:1;
}
#calendarForm {
    margin: 100px 0;
}

.custom_calendar_table {
    margin: auto;
}

