@charset "UTF-8";

/*==========================
공통
============================*/
main .container {
    max-width: 1108px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

main .date-wrap .date-month {
    text-align: center;
    margin: auto;
}

main .date-wrap .date-month>span,
main .date-wrap .button_wrap>button {
    font-size: 30px;
    margin-bottom: 30px;
}

main .date-wrap .date-month thead {
    margin-bottom: 20px;
}

main .date-wrap .date-month thead tr th {
    font-size: 20px;
}

main .date-wrap .date-month thead tr th:not(:last-child) {
    padding-right: 100px;
}

main .date-wrap .date-month tbody tr td a {
    margin-bottom: 80px;
}

main .date-wrap .date-month tbody tr td:not(:last-child) {
    padding-right: 100px;
}