@charset "UTF-8";

/*==========================
공통
============================*/
main .container {
    max-width: 1108px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

main .detail-box .tit-box {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

main .detail-box .tit-box input {
    width: calc(100% - 50px);
    height: 54px;
    line-height: 54px;
    margin-right: 6px;
    outline: 0;
    padding-left: 20px;
    font-size: 16px;
    text-align: center;
}

main .detail-box .tit-box i {
    font-size: 30px;
}

main .detail-box .txt-group {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #ccc solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}
/* main .detail-box .txt-group {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 30px 0;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
} */
main .detail-box .txt-group .txt-tit>p,
main .detail-box .txt-group .txt-box>p {
    width: 20%;
    display: inline-block;
    text-align: center;
}

main .detail-box .txt-group .txt-tit,
main .detail-box .txt-group .txt-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 16px;
}

main .detail-box .txt-group .txt-tit>p {
    font-size: 20px;
    font-weight: 700;
}

main .detail-box .txt-group .txt-box>p {
    font-size: 16px;
    font-weight: 400;
}

/* main .detail-box .txt-group .txt-tit>p:not(:last-child),
main .detail-box .txt-group .txt-box>p:not(:last-child) {
    margin-right: 100px;
} */

.txt-group .txt-box > input{
    border: 1px solid #cfcfcf;
    text-align: center;
    border-radius: 9px;
    margin: 0 5px;
    width: 20%;
    display: inline-block;
    font-size: 16px;
}
main .detail-box .txt-group .txt-box .editsBtn{
    width: 10px;
    cursor: pointer;
}
