@charset "UTF-8";

/* 추가 팝업 */
.background {
    display: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.window {
    position: relative;
    width: 100%;
    height: 100%;
}

.addpop-box {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-30%, -40%);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px 30px 30px;
    width: 600px;
    height: 300px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    /* z-index: 1100; */
    background: #fff;
    border-radius: 20px;
}

.addpop-box a {
    margin-left: auto;
    margin-bottom: 10px;
}

.addpop-box a>i {
    font-size: 20px;
}

.addpop-box input {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 20px;
}

.addpop-box button {
    width: 100%;
    padding: 20px;
    background: #000;
    border-radius: 20px;
    color: #fff;
}

/*==========================
토글 js
============================*/
main .storybook-group .storybook-box .bg {
    position: relative;
}

main .storybook-group .storybook-box .bg a>.story-hide {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 20px 40px;
}

main .storybook-group .storybook-box .bg a>.story-hide::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    padding: 20px;
    z-index: -10;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 20px;
}

main .storybook-group .storybook-box .bg a>.story-hide li {
    font-size: 12px;
}

main .storybook-group .storybook-box .bg a>.story-hide li:hover {
    font-weight: 600;
}

main .storybook-group .storybook-box .bg a>.story-hide li:not(:last-child) {
    margin-bottom: 6px;
}

/*==========================
공통
============================*/
main .container {
    max-width: 1108px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* main .storybook-group {
    padding: 100px 0;
} */

main .storybook-group .storybook-box:not(:last-child) {
    margin-bottom: 28px;
}

main .storybook-group .storybook-box .bg {
    position: relative;
    max-width: 750px;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 20px;
}

main .storybook-group .storybook-box .bg p a {
    position: absolute;
    top: 50%;
    left: 36px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 500;
}

main .storybook-group .storybook-box .bg a>i {
    position: absolute;
    top: 14px;
    right: 14px;
}
.title{
    width:100%;
    cursor:pointer;
}