@charset "UTF-8";

/*==========================
토글 js
============================*/
nav .profile {
    position: relative;
}

nav .profile>.profile-hide {
    position: absolute;
    top: 30px;
    right: 40px;
    padding: 20px 45px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 20px;
}

nav .profile>.profile-hide::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 60px;
    padding: 20px;
    z-index: -10;
}

nav .profile>.profile-hide li>a {
    font-size: 12px;
}

nav .profile>.profile-hide li>a:hover {
    font-weight: 600;
}

nav .profile>.profile-hide li:not(:last-child) {
    margin-bottom: 6px;
}

/*==========================
header
============================*/
header {
    border-bottom: 1px solid #ccc;
    padding: 32px 0;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    font-size: 33px;
    font-weight: 700;
}

header nav,
header nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav>ul li a {
    font-size: 14px;
    font-weight: 500;
}

header nav>ul li:not(:last-child) {
    margin-right: 90px;
}

header nav>ul li:last-child {
    margin-right: 200px;
}

header nav .profile {
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ccc;
}

header nav .profile p>a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

/*==========================
공통
============================*/
.container {
    max-width: 1108px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/*==========================
main
============================*/

main {}

main .container {
    /* padding: 116px 80px; */
    padding: 116px 0;
}

main .input-group {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 62px;
}

main .input-group .input-box {
    width: 100%;
    text-align: center;
}

main .input-group .input-box label {
    width: 100%;
    width: 56px;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    margin-right: 80px;
    text-align: justify;
}

main .input-group .input-box:not(:last-child) {
    margin-bottom: 52px;
}

main .input-group .input-box input {
    width: 70%;
    border: 1px solid #ccc;
    padding: 22px 34px;
    border-radius: 20px;
    outline: 0;
    padding-left: 10px;
}

main .input-group .input-box input::placeholder {
    font-size: 12px;
    font-weight: 300;
    color: #ccc;
}

main .btn-group {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .btn-group button {
    font-size: 12px;
}

main .btn-group button:first-child {
    padding: 10px 60px;
    border-radius: 20px;
    background: rgba(255, 0, 0, 0.7);
    color: #fff;
}

main .btn-group button:last-child {
    padding: 10px 60px;
    border-radius: 20px;
    background: rgba(0, 87, 255, 0.7);
    color: #fff;
}

/*==========================
footer
============================*/
footer {
    border-top: 1px solid #ccc;
    padding: 44px 0;
}

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .left-box ul,
footer .info-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

footer .left-box ul li a {
    font-size: 14px;
    font-weight: 500;
}

footer .left-box ul li:nth-child(3) a {
    color: #0057FF;
}

footer .left-box ul li:not(:last-child),
footer .info-group p:not(:last-child) {
    margin-right: 38px;
}

footer .info-group p,
footer .copy-txt p {
    font-size: 13px;
    font-weight: 400;
    color: #505050;
}

footer .right-box p {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    color: #505050;
    letter-spacing: 1px;
}